# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Test coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log
